<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1027077210997-b7hevtv9a191nqdmke34eccbbdcoo0dm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1027077210997-b7hevtv9a191nqdmke34eccbbdcoo0dm</string>
	<key>API_KEY</key>
	<string>AIzaSyBPLpjtZHbN5ZAXD4Ccvl6QIfsqju-McqY</string>
	<key>GCM_SENDER_ID</key>
	<string>1027077210997</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flashChat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-feb74</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-feb74.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1027077210997:ios:4241a6e50f27111764893c</string>
</dict>
</plist>